#hero{
	width: 100%;
	display: flex;
	align-items: center;
	min-height: 300px;
	margin: 3.5rem;
	position: relative;
	img {
		position: absolute;
		width: 55%;
		right: 0;
		transform: translateX(30%);
	} 
	div {
		width: 50%;
		h1 {
			font-size: 3.5rem;
			font-weight: 700;
			margin: .1em;
			line-height: 1.1;
		}
		p {
			width: 90%;
			margin: 0 0 1.3em;
			font-size: 1rem;
		}
	}
	button {
		border-radius: 2em;
	}
}

@media(max-width:900px){
	#hero {
		flex-direction: column-reverse;
		margin: 1em;
		img{
			width: 70%;
			position: relative;
			transform: none;
		}
		div{
		text-align: center;
			h1 {
				font-size: 2.7rem;
			}
			p{
				width: unset;
				font-size: .9rem;
			}
		}
	}
}
@media(max-width:750px) {
	.img-visible {
		height: 0;
		margin: 0;
	}
	#hero {
		img{
			width: 100%;
		}
		div{
			width: 100%;
			h1 {
				font-size: 2.5rem;
			}
			p{
				font-size: 1.2rem;
			}
			button {
				font-size: 1.4rem;
				padding: .6em 1.9em;
			}
		}
	}

}

