#shorten {
	width: 100%;
	margin: 75px;
}
#shortener {
	--height: 40px;
	--radius: 5px;
	width: 100%;
	background: url('../../images/bg-shorten-desktop.svg')var(--primary-dark-violet);
	background-size: 100% 100%;
	height: 168px;
	display: flex;
	justify-content: center;
	align-items: center;
	textarea {
		box-sizing: border-box;
		width: 75%;
		height: var(--height);
		border: none;
		border-radius: var(--radius);
		resize: none;
		color: var(--neutral-grayish);
		font-size: 1em;
		margin: 1em;
		padding: 10px 30px 0 30px;
		&:invalid{
			border: 2px solid var(--secondary-red);
			color: var(--secondary-red);
		}
	}

	button {
		border-radius: var(--radius);
		height: var(--height);
	}
}
