#footer-nav {
	padding: 4em 0;
	width: 100%;
	max-width: 1400px;
	display: flex;
	justify-content: space-around;
	& > svg {
		fill: var(--neutral-gray);
	}
}

.links{
	width: 50%;
	display: flex;
	justify-content: space-around;
	h3 {
		color: var(--neutral-gray);
		margin-top: 0;
	}
	p {
		margin: .4em;
		font-size: .9rem;
		&:hover {
			cursor: pointer;
			color: var(--primary-cyan);
		}
	}
	div {
		svg {
			margin: .8em;
			cursor: pointer;
			fill: var(--neutral-gray);
		&:hover {
			fill: var(--primary-cyan);
		}
		}

	}

}

@media(max-width:1251px){
	.links{
		width: 70%;
	}
}

@media(max-width:800px) {
#footer-nav {
	padding: 2.5em 0 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.links {
	text-align: center;
	margin: 2em 0 0;
	flex-direction: column;
	justify-content: center;
	div {
		margin: .5em auto;
	}
	h3 {
		font-size: 1rem;
	}
}
}
