#footer-nav {
	padding: 4em 0;
	background: var(--neutral-very-dark-blue);
	width: 100%;
	display: flex;
	justify-content: space-around;
	& > svg {
		fill: var(--neutral-gray);
	}
}

.links{
	width: 50%;
	display: flex;
	justify-content: space-around;
	h3 {
		color: var(--neutral-gray);
		margin-top: 0;
	}
	p {
		margin: .4em;
		font-size: .9rem;
		&:hover {
			cursor: pointer;
			color: var(--primary-cyan);
		}
	}
	div {
		svg {
			margin: .8em;
			cursor: pointer;
			fill: var(--neutral-gray);
		&:hover {
			fill: var(--primary-cyan);
		}
		}

	}

}
