#navbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	div {
		* {
			margin-right: 35px;
		}
		h2{
			font-size: 26px;
		}
		display: flex;
		align-items: center;
		font-size: 12px;
	}
	button{
		padding: 6px 20px;
		border-radius: 20px;
		font-size: 12px;
		
	}


}
