#navbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	div {
		display: flex;
		align-items: center;
		p {
		font-size: .9rem;
		&:hover{
			color: var(--neutral-very-dark-violet);
			cursor: pointer;
		}
		}
		* {
			margin-right: 3em;
		}
	}
	button{
		padding: .45em 1.4em;
		border-radius: 1.25em;
		font-size: .7rem;
	}
}
.menu > svg {
	fill: var(--neutral-very-dark-blue);
}

@media(max-width:900px) {
	#navbar{
		div{
			* {
			margin-right: 1.4em;
		}
		}
	}

}
