#statistics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	max-width: 500px;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2, p {
		margin: .3em;
		text-align: center;
	}
	h2 {
		font-size: 2.2rem;
	}
	p {
		font-size: 1rem;
	}
}
.stats-description {
	background: linear-gradient(0deg,
						transparent 48%,
						var(--primary-cyan) 48% 50%,
						transparent 50%);
	margin: 5em 0;
	display: flex;
	align-items: center;
	min-height: 500px;
	.img-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		background: var(--primary-dark-violet);
		border-radius: 50%;
		padding: 1em;
	}
	div:first-child {
		margin-right: 1em;
		align-self: flex-start;
	}
	div:last-child {
		margin-left: 1em;
		align-self: flex-end;
	}
	div {
		background: white;
		padding: 1em;
		p{
			font-size: 1.05rem;
		}
	}
}
@media(max-width: 1100px) {
.title {
	width: 90%;
	h2 {
		font-size: 1.7rem;
	}
	}
.stats-description {
	background: linear-gradient(90deg,
						transparent 49%,
						var(--primary-cyan) 49% 51%,
						transparent 51%);
	flex-direction: column;	
	justify-content: center;
	text-align: center;
	div:first-child, div:last-child {
		align-self: unset;
		margin: unset;
		}
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 85%;
		margin: 3em 0;
		padding: 0;
		.img-wrapper {
			margin: 0 0 2em;
		}
		h3, p {
			margin: .4em 0;
		}
	}
}}
